{% extends "base.html" %}

{% block title %} Stock Management {% endblock %}

{% block content %} 

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <a name="" id="" class="btn btn-success btn-sm"  href="{% url 'create' %}">
            Create Product
        </a>      
        <!-- <a name="" id="" class="btn btn-warning btn-sm" href="{% url 'date_range' %}">
            Consult by Range
        </a>   -->
        <form action="{% url 'date_range' %}" method="GET">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date">
        
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date">
        
            <button type="submit" class="btn btn-warning btn-sm">Consult by Range</button>
        </form>
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Products</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Expiration Date</th>
                        <th scope="col">Days to Expire</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr class="">
                        <td scope="row">{{ product.id }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.product_description }}</td>
                        <td>{{ product.product_quantity }}</td>
                        <td>{{ product.product_expiration_date }}</td>
                        <td>{{ product.days_to_expiration }}</td>
                        <td> 
                            <a name="" id="" class="btn btn-info" href="{% url 'update' product.id %}" role="button">Update</a>
                          
                            <a name="" id="" class="btn btn-danger" href="{% url 'delete' product.id %}" role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted"></div>
</div>


{% endblock %}