{% extends "base.html" %}

{% block title %} Stock Management {% endblock %}

{% block content %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success btn-sm" href="{% url 'create' %}">
            Create Product
        </a>
            
        
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Products</h4>
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Expiration Date</th>
                        <th scope="col">Days to Expire</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr class="">
                        <td scope="row">{{ product.product_id }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.product_description }}</td>
                        <td>{{ product.product_quantity }}</td>
                        <td>{{ product.product_expiration_date }}</td>
                        <td>{{ product.days_to_expiration }}</td>
                        <td> 
                            <a name="" id="" class="btn btn-info" href="{% url 'update' %}" role="button">Update</a>
                          
                            <a name="" id="" class="btn btn-danger" href="{% url 'delete' %}" role="button">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted"></div>
</div>


{% endblock %}